@charset UTF-8;

.col3 {
    width: 28%;
    margin: 10px 10px 0 0;
    padding: 10px;
    height: 300px;
    float: left;
    background-color: #ccc;
    word-wrap: break-word;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #ccc;
    background-color: #eee;
    border: 1px solid #ddd;
}

.col3 p {
    margin-bottom: 7px;
}

.index .pic {
    text-align: center;
}

.index .birthday .graduating_date {
    font-size: 10px;
}

.index .nickname {
    font-size: 20px; 
}

.clear {
    clear: both;
    padding-top: 30px;
}

.view .pic img {
    max-width: 95%;
}
